.footer-player {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.song-name {
    font-size: x-large;
}
.foot-music-controls-icons .icons12 {
    padding: 0px 10px;
    font-size: 22px;
}
