.box-image {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 24rem;
    height: 12rem;
    background-color: white;
    border-radius: 15px;
}

.controls {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.icons {
    margin: 10px;
    font-size: 25px;
}

@media screen and (max-width: 480px) {
    .box-image {
        width: 18rem;
        height: 9rem;
        margin-top: 0;
    }
}
