.queue {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.queue-title {
    font-size: 34px;
    color: black;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.clear-list-btn-queue {
    font-size: 1.6rem;
    width: 8rem;
    height: 2.4rem;
    margin-left: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear-list-btn-queue:hover {
    background-color: rgb(112, 112, 112);
    color: whitesmoke;
}
.queue-list-box {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    height: 3.2rem;
    margin: 15px;
    width: 90%;
}

@media screen and (max-width: 1050px) {
    .queue {
        width: 80%;
    }
    .queue-title {
        font-size: 34px;
        color: black;
        padding-left: 0;
    }
}

.Q-cover-img img {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 11px;
}
.Q-result-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2.6rem;
    width: 14rem;
}
.Q-result-title {
    height: 1.5rem;
    font-size: 1.2rem;
    width: 100%;
    font-weight: bold;
}
.Q-result-artist-duration {
    height: 1.1rem;
    font-size: 0.6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Q-result-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    width: 6rem;
}
.Q-icons-option {
    margin-left: 6px;
    margin-right: 6px;
}
.Q-icons-option:hover {
    color: white;
}

@media screen and (max-width: 510px) {
    .Q-result-info {
        width: 11rem;
    }
    .Q-result-options {
        width: 4rem;
    }
}

.hiddenQ {
    display: none;
}

.Q-hidden2 {
    display: none;
}
.Q-add-btn {
    position: relative;
    overflow: visible;
}

/* modal */
.Q-add-modal {
    position: absolute;
    top: 1.7rem;
    left: -1rem;
    z-index: 3;
    width: 6rem;
    height: 6rem;
    font-size: 1.1rem;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 0;
}
.Q-modal-options {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 5rem;
    height: 1.7rem;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Q-modal-options:hover {
    background-color: darkgray;
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 500px) {
    .Q-add-modal {
        left: -2rem;
    }
}
