.queue {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.queue-title {
    font-size: 34px;
    color: black;
    padding-left: 20px;
}
/* .list-of-queue {
    height: 85%;
} */
.queue-list-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    height: 3.2rem;
    margin: 15px;
    width: 25rem;
}

@media screen and (max-width: 1050px) {
    .queue {
        margin: auto;
        align-items: center;
    }
    .queue-title {
        font-size: 34px;
        color: black;
        padding-left: 0;
    }
}
@media screen and (max-width: 500px) {
    .queue-list-box {
        height: 3.2rem;
        margin: 15px;
        width: 19rem;
    }
}
