.queue {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.queue-title {
    font-size: 34px;
    color: black;
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.qtitle{
    color: white;
    font-weight: 600;
}


.clear-list-btn-queue {
    font-size: 1.6rem;
    width: 8rem;
    height: 2.4rem;
    margin-left: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(29, 29, 29);
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #3424a8;
}
.clear-list-btn-queue:hover {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
}
.Q-resboxbox{
    align-items: center;
    border-radius: 5px;
    height: 3.5rem;
    margin: 15px;
    width: 97%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right, #90E5E5 0%, #3A27D3 100%);
}
.queue-list-box {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    width: 97%;
    height: 95%;
    color: white;
    border-radius: 3px;
}

@media screen and (max-width: 1050px) {
    .queue {
        width: 80%;
        margin-top: 20px;
    }
    .queue-title {
        margin-left: 20px;
        font-size: 34px;
        color: black;
        padding-left: 0;
    }
}
@media screen and (max-width: 700px) {
    .queue {
        width: 95%;
    }
}
@media screen and (max-width: 500px) {
    .list-of-queue {
        transform: scale(0.9);
        transform: translate(-10px, 0);
    }
}

.Q-cover-img img {
    height: 2.5rem;
    width: 2.5rem;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 11px;
}
.Q-result-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2.6rem;
    width: 14rem;
}
.Q-result-title {
    height: 1.5rem;
    font-size: 1.2rem;
    width: 100%;
    font-weight: bold;
}
.Q-result-artist-duration {
    height: 1.1rem;
    font-size: 0.6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.Q-result-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    width: 6rem;
}
.Q-icons-option {
    margin-left: 6px;
    margin-right: 6px;
}
.Q-icons-option:hover {
    color: white;
}

@media screen and (max-width: 510px) {
    .Q-result-info {
        width: 11rem;
    }
    .Q-result-options {
        width: 4rem;
    }
}

.hiddenQ {
    display: none;
}

.Q-hidden2 {
    display: none;
}
.Q-add-btn {
    position: relative;
    overflow: visible;
}

/* modal */
.Q-add-modal {
    position: absolute;
    top: 1.7rem;
    left: -1rem;
    z-index: 3;
    width: 6rem;
    height: 6.2rem;
    font-size: 1.1rem;
    background: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 0;
    box-shadow: 0px 0px 6px 2px rgb(15, 15, 15);
}
.Q-modal-options {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 5rem;
    height: 1.7rem;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 1px solid whitesmoke;
}
.Q-modal-options:hover {
    background-color: rgb(75, 75, 75);
}
@media screen and (max-width: 500px) {
    .Q-add-modal {
        left: -2rem;
    }
}
