.liked-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.liked-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
}
@media screen and (max-width: 900px) {
    .liked-data {
        width: 80vw;
    }
}
.liked-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    width: 90%;
}
.liked-title {
    font-size: 2rem;
    font-weight: 700;
}
.clear-list-btn {
    font-size: 1.6rem;
    width: 8rem;
    height: 2.4rem;
    margin-left: 1rem;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 500px) {
    .liked-title {
        font-size: 1.7rem;
    }
    .clear-list-btn {
        font-size: 1.4rem;
        width: 7rem;
        height: 2.1rem;
        border-radius: 8px;
        box-shadow: 3px 3px 3px black;
    }
}
.clear-list-btn:hover {
    background-color: rgb(112, 112, 112);
    color: whitesmoke;
}
.liked-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.L-result-box {
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    height: 4rem;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.L-cover-img img {
    height: 3rem;
    width: 3rem;
    border-radius: 11px;
    margin-left: 10px;
    margin-right: 10px;
}
.L-result-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 19rem;
}
.L-result-title {
    height: 1.7rem;
    font-size: 1.4rem;
    width: 100%;
    font-weight: bold;
}
.L-result-artist-duration {
    height: 1.3rem;
    font-size: 0.8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.L-result-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 7rem;
}
.L-icons-option {
    margin-left: 15px;
    margin-right: 15px;
}
.L-icons-option:hover {
    color: black;
}
@media screen and (max-width: 700px) {
    .L-result-info {
        width: 19rem;
    }
    .L-result-title {
        font-size: 1.2rem;
    }
    .L-result-artist-duration {
        font-size: 0.7rem;
    }
    .L-result-options {
        width: 5rem;
    }
    .L-icons-option {
        margin-left: 7px;
        margin-right: 7px;
    }
}
@media screen and (max-width: 560px) {
    .L-result-info {
        width: 15rem;
    }
    .L-result-title {
        font-size: 1.1rem;
    }
    .L-result-options {
        width: 4rem;
    }
    .L-icons-option {
        margin-left: 7px;
        margin-right: 7px;
    }
}

.L-hidden2 {
    display: none;
}
.L-add-btn {
    position: relative;
    overflow: visible;
}

/* modal */
.L-add-modal {
    position: absolute;
    top: 1.5rem;
    left: -1rem;
    z-index: 3;
    width: 6rem;
    height: 8rem;
    font-size: 1.1rem;
    background: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 0;
}
.L-modal-options {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 5rem;
    height: 1.3rem;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.L-modal-options:hover {
    background-color: darkgray;
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 640px) {
    .L-add-modal {
        left: -2rem;
    }
}
@media screen and (max-width: 480px) {
    .L-add-modal {
        left: -3rem;
    }
}
