.playlist-box {
    background-color: rgba(15, 14, 12, 0.4);
    position: absolute;
    top: 12.5vh;
    left: 5%;
    min-height: 87.5vh;
    border-radius: 1.5rem 1.5rem 0px 0px;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
}
@media screen and (max-width: 875px) {
    .playlist-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
