.login-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 1150px) {
    .login-page-container {
        flex-direction: column;
        justify-content: center;
    }
}
