.playlist-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.playlist-title {
    color: black;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ptitle{
    color: whitesmoke;
    font-weight: 500;
}
.clear-list-btn-playlist {
    font-size: 1.6rem;
    margin-left: 1rem;
    width: 8rem;
    height: 2.4rem;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgb(29, 29, 29);
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #3424a8;
}
.clear-list-btn-playlist:hover {
    background-color: rgb(19, 19, 19);
    color: whitesmoke;
}
.P-playlist-box1 , .P-playlist-box2 , .P-playlist-box3 {
    border-radius: 5px;
    height: 4rem;
    width: 90%;
    margin-bottom: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.P-playlist-box1 {
    background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
.P-playlist-box2 {
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}
.P-playlist-box3 {
    background: linear-gradient(109.6deg, rgb(218, 185, 252) 11.2%, rgb(125, 89, 252) 91.1%);
}
.playlist-list-box {
    border-radius: 3px;
    width: 97%;
    height: 95%;
    color: white;
    background-color: #2d2d2d;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 875px) {
    .playlist-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1000px) {
    .playlist-list {
        width: 90vw;
    }
}
@media screen and (max-width: 490px) {
    .P-playlist-box1,
    .P-playlist-box2,
    .P-playlist-box3 {
        width: 87%;
    }
}
.P-cover-img img {
    height: 2.8rem;
    width: 2.8rem;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 11px;
    background-color: black;
}
.P-result-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2.8rem;
    width: 70%;
    /* background-color: blueviolet; */
}
.P-result-title {
    height: 1.6rem;
    font-size: 1.3rem;
    width: 100%;
    font-weight: bold;
}
.P-result-artist-duration {
    height: 1.2rem;
    font-size: 0.7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.P-result-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    width: 15%;
}
.P-icons-option {
    margin-left: 7px;
    margin-right: 7px;
}
.P-icons-option:hover {
    color: white;
}

@media screen and (max-width: 620px) {
    .P-icons-option {
        margin-left: 6px;
        margin-right: 6px;
    }
}
@media screen and (max-width: 460px) {
    .P-cover-img img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 8px;
    }
    .P-result-title {
        font-size: 1.1rem;
    }
    .P-result-options {
        width: 3rem;
    }
    .P-icons-option {
        margin-left: 4px;
        margin-right: 4px;
    }
}

.P-hidden2 {
    display: none;
}
.P-add-btn {
    position: relative;
    overflow: visible;
}

/* modal */
.P-add-modal {
    position: absolute;
    top: 2rem;
    left: -1rem;
    z-index: 3;
    width: 6rem;
    height: 6.2rem;
    font-size: 1.1rem;
    background: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 0;
    box-shadow: 0px 0px 6px 2px rgb(15, 15, 15);
}
.P-modal-options {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 5rem;
    height: 1.7rem;
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    border: 1px solid whitesmoke;
}
.P-modal-options:hover {
    background-color: rgb(75, 75, 75);
}

@media screen and (max-width: 710px) {
    .P-add-modal {
        left: -2rem;
    }
}
@media screen and (max-width: 575px) {
    .P-add-modal {
        left: -3rem;
    }
}
@media screen and (max-width: 450px) {
    .P-add-modal {
        left: -3.5rem;
    }
}
.hidep{
    display: none;
}