.playlist-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.playlist-title {
    color: black;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.clear-list-btn-playlist {
    font-size: 1.6rem;
    margin-left: 1rem;
    width: 8rem;
    height: 2.4rem;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear-list-btn-playlist:hover {
    background-color: rgb(112, 112, 112);
    color: whitesmoke;
}
.playlist-list-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.75rem;
    height: 4rem;
    width: 90%;
    margin: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 875px) {
    .playlist-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1000px) {
    .playlist-list {
        width: 90vw;
    }
}
@media screen and (max-width: 490px) {
    .playlist-list-box {
        width: 87%;
    }
}
.P-cover-img img {
    height: 2.8rem;
    width: 2.8rem;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 11px;
    background-color: black;
}
.P-result-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2.8rem;
    width: 70%;
    /* background-color: blueviolet; */
}
.P-result-title {
    height: 1.6rem;
    font-size: 1.3rem;
    width: 100%;
    font-weight: bold;
}
.P-result-artist-duration {
    height: 1.2rem;
    font-size: 0.7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.P-result-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    width: 15%;
}
.P-icons-option {
    margin-left: 7px;
    margin-right: 7px;
}
.P-icons-option:hover {
    color: white;
}

@media screen and (max-width: 620px) {
    .P-icons-option {
        margin-left: 6px;
        margin-right: 6px;
    }
}
@media screen and (max-width: 460px) {
    .P-cover-img img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 8px;
    }
    .P-result-title {
        font-size: 1.1rem;
    }
    .P-result-options {
        width: 3rem;
    }
    .P-icons-option {
        margin-left: 4px;
        margin-right: 4px;
    }
}

.P-hidden2 {
    display: none;
}
.P-add-btn {
    position: relative;
    overflow: visible;
}

/* modal */
.P-add-modal {
    position: absolute;
    top: 1.5rem;
    left: -1rem;
    z-index: 3;
    width: 6rem;
    height: 8rem;
    font-size: 1.1rem;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 0;
}
.P-modal-options {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 5rem;
    height: 1.3rem;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.P-modal-options:hover {
    background-color: darkgray;
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 710px) {
    .P-add-modal {
        left: -2rem;
    }
}
@media screen and (max-width: 575px) {
    .P-add-modal {
        left: -3rem;
    }
}
@media screen and (max-width: 450px) {
    .P-add-modal {
        left: -3.5rem;
    }
}
