.playlist-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.playlist-title {
    color: black;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
}
.playlist-list-box {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 0.75rem;
    height: 4rem;
    width: 30rem;
    margin: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
@media screen and (max-width: 1000px) {
    .playlist-title {
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        font-size: 2rem;
    }
}
@media screen and (max-width: 620px) {
    .playlist-list-box {
        width: 23rem;
    }
}
@media screen and (max-width: 460px) {
    .playlist-list-box {
        width: 19rem;
        height: 3.8rem;
    }
}

.P-cover-img img {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 11px;
    background-color: black;
}
.P-result-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2.8rem;
    width: 18rem;
    /* background-color: blueviolet; */
}
.P-result-title {
    height: 1.6rem;
    font-size: 1.3rem;
    width: 100%;
    font-weight: bold;
}
.P-result-artist-duration {
    height: 1.2rem;
    font-size: 0.7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.P-result-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2.8rem;
    width: 6rem;
}
.P-icons-option {
    margin-left: 7px;
    margin-right: 7px;
}

@media screen and (max-width: 620px) {
    .P-result-info {
        width: 15rem;
    }
    .P-result-options {
        width: 4rem;
    }
    .P-icons-option {
        margin-left: 6px;
        margin-right: 6px;
    }
}
@media screen and (max-width: 460px) {
    .P-cover-img img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 8px;
    }
    .P-result-info {
        width: 12rem;
    }
    .P-result-title {
        font-size: 1.1rem;
    }
    .P-result-artist-duration {
        font-size: 0.5rem;
    }
    .P-result-options {
        width: 3rem;
    }
    .P-icons-option {
        margin-left: 4px;
        margin-right: 4px;
    }
}

.P-hidden2 {
    display: none;
}
.P-add-btn {
    position: relative;
    overflow: visible;
}

/* modal */
.P-add-modal {
    position: absolute;
    top: 1.5rem;
    left: -1rem;
    z-index: 3;
    width: 6rem;
    height: 8rem;
    font-size: 1.1rem;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    border-top-left-radius: 0;
}
.P-modal-options {
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 5rem;
    height: 1.3rem;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.P-modal-options:hover {
    background-color: darkgray;
    color: white;
    text-decoration: none;
}
